textarea {
  min-height: 80px;
}
.highlight-form{
//    margin:15px;
}
.form-header {
    font-size: 21.44px;
    line-height: 23.37px;
    color: #0b3d79;
    font-weight: 300;
    text-transform: uppercase;
}
