body {
    font-family: 'Roboto', sans-serif;
//  @include font-smoothing;
//  @include font-family();
  padding: 0;
//  font-family: sans-serif;
  font-size: 1.25em;

  @media (max-width: $screen-sm-max) {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4, h5, h6 {
  font-size: 1em;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

section {
  margin-bottom: 30px;
}

small {
  font-size: 0.75em;
}
.line-orange{
    
//    background-color: #EFA10C;
//    height:59px;
//    width:100%;
    
    background: url(../../src/images/Rounded-Rectangle-Auto-Shape.png) no-repeat center top;
    top:0; 
}
.back-form{
    background:#EFEFEF;
    padding:15px;
}
.title-int{
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}
.span-int{
    font-size: 13px;
    line-height: 14.17px;
    color: #333333;
    font-weight: 400;
}
.line-over{
    margin-top:30px;
}
.stan-btn{
} 
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 13.91px;
    color: #ffffff;
    line-height: 16.696px;
    padding: 16px 12px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    margin-bottom: 15px;
}
.img-int{
    margin-bottom: 30px;
}
.redes{
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    margin-top:15px;
}
.menu-footer{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #060709;
    font-weight: 900; 
    margin-top: 53px;
    float: right;    
}
.menu-topo{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #060709;
    font-weight: 900; 
    margin-top: 36px;
    float: right;
    
}
.fone-footer{
    font-size: 22px;
    line-height: 28.8px;
    font-family: 'Lato', sans-serif;
    color: #ef9200;
    font-weight: 900;
}
.fone-footer span{
    font-size: 14px;
    line-height: 16.8px;
    color: #060607;
}
.div-fone{
    max-width:170px;
    height:auto;
    float: right;
    margin-top:15px;
}
.div-fone-footer{
    max-width:170px;
    height:auto;
    float: right;
    margin-top:15px;
}
.logo-topo{
    float: left;
}
.logo-braga{
    float: left;
    margin-top:15px;
    max-width:175px;
    height:auto;
}
.logo-braga-footer{
    float: left;
    margin-top:15px;
    max-width:175px;
    height:auto;
}
footer{
    margin-bottom: 30px;    
}




@media(min-width:1200px){
    .menu-show{
        display: none;
    }
    
}
@media(min-width:768px) and (max-width:1200px){
    span.solicitar{
        display: block;
    }
}
@media(max-width:1200px){
    .div-fone{
        width:100%;
        height:auto;
        float: none;
        margin-top:15px;
        margin:auto;
        display: block;
    }
    .logo-braga-footer{
        display: block;
        float: none;
        margin:auto;
    }
    .menu-footer{
        line-height: 35px; 
        margin-top: 36px;
        float: none; 
        text-align: center;
    }
    .hide-menu{
        display: none;
    }
    .active{
        display :block !important;
    }
    .clique{
        float:right;
        padding-top:15px;
        font-size: 40px;
        padding:15px;
    }
}
@media(max-width:768px){
    .div-fone-footer{
        float: none;
        margin: auto;
        display: block;
        text-align:center;
    }
    
}