{# defina a variavel breadcrumb (como abaixo) antes de incluir este componente #}
{% set breadcrumb = ['Home', 'Seminovos', 'Nissan XTRAIL S 4X4 2.5'] %}
<ol class="breadcrumb">
  {% for bi in breadcrumb %}
  <li{% if loop.last %} class="active"{% endif %}>
    <a href="">{{ bi }}</a>
  </li>
  {% endfor %}
</ol>
