<div class="back-form">
    <form action="" id="quote-form" class="highlight-form">
        <h2 class="form-header" style="margin-top:0">SOLICITE SIMULAÇÃO DE CONSÓRCIO</h2>
        <div class="form-group">
            <input placeholder="NOME" class="form-control">
        </div>
        <div class="form-group">
            <input type="email" placeholder="E-MAIL" class="form-control">
        </div>
        <div class="form-group">
            <input type="phone" placeholder="TELEFONE" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="MODELO" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="" id="message" placeholder="MENSAGEM" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-warning stan-btn"><span class="solicitar">SOLICITAR</span> SIMULAÇÃO</button>
    </form>
</div>