<!---nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Navegação alternativa</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" class="img-responsive center-block" alt="" class="logo">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Novos</a></li>
        <li><a href="#">Seminovos</a></li>
        <li><a href="#">Financiamento</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </div>
  </div>
</nav-->
<div class="fundo-topo1">

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="menu-show" >
                       <img class="logo-braga" src="../../src/images/braga.png" alt="BRAGA" class="img-responsive">
                        <p class="clique">
                            <i class="fa fa-bars i-menu"></i>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 hide-menu">
                    <div class="row">
                        <div class="col-sm-9">
                            <img class="logo-braga" src="../../src/images/braga.png" alt="BRAGA" class="img-responsive">
                            <div class="menu-topo">
                                <ul class="list-inline">
                                    <li>CARROS</li>
                                    <li>CONSÓRCIO</li>
                                    <li>FINANCIAMENTO</li>
                                    <li>VENDA DIRETA</li>
                                    <li>SERVIÇOS</li>
                                    <li>CONTATO</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="div-fone">
                                <p class="fone-footer">(41) 3333.3333
                                    <br>
                                    <span>Av. Lorem ipsum dolor, 459, Lorem ipsum</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>