<footer>
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="line-over">
                        <div class="col-xs-12 col-sm-9">
                            <img class="logo-braga-footer" src="../src/images/Bitmape.png" class="img-responsive center-block">
                            <div class="menu-footer">
                                <ul class="list-inline">
                                    <li>CARROS</li>
                                    <li>CONSÓRCIO</li>
                                    <li>FINANCIAMENTO</li>
                                    <li>VENDA DIRETA</li>
                                    <li>SERVIÇOS</li>
                                    <li>CONTATO</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="div-fone-footer">
                                <p class="fone-footer">(41) 3333.3333
                                    <br>
                                    <span>Av. Lorem ipsum dolor, 459, Lorem ipsum</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>