<form>
  <fieldset>
    <legend>Fabricante</legend>
    {% for maker in makers %}
    <div class="checkbox">
      <label for="maker-{{ maker.id }}">
        <input type="checkbox" name="maker-{{ maker.id }}" id="maker-{{ maker.id }}">
        {{ maker.name }}
        <span class="filter-item-quantity">(12)</span>
      </label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset class="checkbox">
    <legend>Modelo</legend>
    {% set models = ['fusca', 'chevette', 'uno'] %}
    {% for model in models %}
    <div class="checkbox">
      <label for="model-{{ model }}">
        <input type="checkbox" name="model-{{ model }}" id="model-{{ model }}">
        {{ model }}
      </label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>Precio</legend>
    {% set prices = ['0 - 100', '100 - 200', '200 - 1000'] %}
    {% for price in prices %}
    <div class="checkbox">
      <label for="price-{{ price }}">
        <input type="checkbox" name="price-{{ price }}" id="price-{{ price }}">
        R$ {{ price }}
      </label>
    </div>
    {% endfor %}
  </fieldset>
  
  <fieldset>
    <legend>Año</legend>
    {% set years = [2000, 2001, 2002, 2003, 2004, 2005] %}
    {% for year in years %}
    <div class="checkbox">
      <label for="year-{{ year }}">
        <input type="checkbox" name="year-{{ year }}" id="year-{{ year }}">
        {{ year }}
      </label>
    </div>
    {% endfor %}
  </fieldset>
</form>
