{% extends 'layout.html' %} {% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="line-orange ">
            <div class="container">
                <div class="col-sm-12">
                    <h1 class="title-int">CONSÓRCIO</h1>
                    <span class="bread-int">Home > Consórcio</span>
                </div>
                <div class="col-sm-12">
                    <div class="row line-over">
                        <div class="col-sm-9">
                            <img src="../src/images/consorcio.png" class="img-responsive center-block img-int">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        </div>
                        <div class="col-sm-3">
                            <div class="">{% include 'shared/form-details.html' %}</div>
                            <p class="redes">BRAGA SEMINOVOS NAS REDES SOCIAIS</p>
                            <img src="../src/images/redes.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'shared/load-css.html' with {'css': 'consorcio.css'} %} {% endblock %}