{% extends 'layout.html' %}
{% block title %}{% endblock %}

{# mock #}
{% set banners = 0..5 %}

{% block content %}
<section>
  <div id="main-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for b in banners %}
        <div class="item {% if loop.first %}active{% endif %}" id="carousel-item-{{ b }}">
          <div class="item-img"></div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-3">
                <div class="carousel-caption">
                  <h2>Texto do Banner</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse possimus unde numquam velit hic nisi mollitia adipisci, enim fugiat perferendis deleniti blanditiis illo nemo aut saepe labore et voluptatum placeat!</p>
                  <button class="btn btn-default">Botão</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    {% if banners.length > 1 %}
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <ol class="carousel-indicators">
      {% for b in banners %}
      <li data-target="#main-carousel" data-slide-to="{{ b }}" class="{% if loop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>

    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
    {% endif %}
  </div>
  
  <section class="carousel-context">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-3 pull-right">
          {% include 'shared/form-details.html' %}
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'shared/load-css.html' with {'css': 'index.css'} %}
{% endblock %}
