<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="title" content="{% block contenttitle %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="{% block ogurl %}{% endblock %}">
    <meta property="og:image" content="{% block ogimage %}{% endblock %}">
    <meta property="og:site_name" content="{% block ogsitename %}{% endblock %}">
    {# include 'shared/app-icons.html' #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../assets/css/global.css">
    <title>{% block title %}{% endblock %}</title>
    <base href="{{ rooturl }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'shared/page-nav.html' %}
    {% block content %}{% endblock %}
    {% include 'shared/page-footer.html' %}
    
    <script src="assets/js/shared.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
