{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {#
    <div class="col-xs-12">
      {% include 'shared/breadcrumb.html' %}
    </div>
    #}
    <div class="col-xs-12 col-md-5">
      <section class="main">
        {% include 'shared/carousel.html' %}
      </section>
    </div>
    <div class="col-xs-12 col-md-4">
      <section class="main">
        <h1>2012 Lamborghini Huracan LP 610-4 Coupe</h1>
        <ul class="used-specs">
          <li class="old-price"><div class="spec-label">Precio</div><span class="old-value">$ 200.000</span></li>
          <li class="promo-price"><div class="spec-label">Precio promo</div><span class="promo-value">$ 189.000</span></li>
          <li><div class="spec-label"><img src="assets/images/.png">Economia</div>$ 11.000</li>
          <li><div class="spec-label"><img src="assets/images/.png">Año</div>2012</li>
          <li><div class="spec-label"><img src="assets/images/.png">Kilometraje</div>20.299</li>
          <li><div class="spec-label"><img src="assets/images/.png">Transmisión</div> Automática</li>
        </ul>
        <button class="send-to-friend">Envíalo a un amigo</button>
      </section>
    </div>
    <div class="col-xs-12 col-md-3 pull-right">
      <section>
        {% set formTitle = 'Cotiza ahora su vehículo' %}
        {% include 'shared/form-details.html' %}
      </section>
    </div>
    <div class="col-xs-12 col-md-9">
      <section>
        <ul class="nav nav-tabs car-info-tabs">
          <li class="active"><a href="">Especificaciones</a></li>
          <li><a href="">Accessorios</a></li>
        </ul>
        <div class="tab-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
        </div>
      </section>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'used_car_detail.css'} %}
{% endblock %}
